@model IEnumerable<InventoryManager.Application.Elements.ElementDto>


@{
    ViewData["Title"] = "Elementos";
}

<div class="card">
    <div class="row">
        <h1>Listado de elementos</h1>
        <a class="btn-floating btn-large waves-effect waves-light green right" href="@Url.Action("New")"><i class="material-icons">add</i></a>

        <table>
            <thead>
                <tr>
                    <th>Identificador</th>
                    <th>Nombre</th>
                    <th>Fecha de entrada</th>
                    <th>Fecha de caducidad</th>
                    <th>Tipo</th>

                </tr>
            </thead>

            <tbody>
 
                    @foreach (var element in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => element.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => element.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => element.EntryDate)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => element.ExpirationDate)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => element.Type)

                            </td>
                         </tr>
                    }

            </tbody>
        </table>


    </div>
</div>

